<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>WiChat - Open & Free IM for Everyone!</title>
    <?php
        foreach($cssList as $temp)
            echo '<link rel="stylesheet" href="http://'.WICHAT_WEB_WEB_TEMPLATE.$temp.'" type="text/css">'."\n";
        foreach($jsList as $temp)
            echo '<script src=http://"'.WICHAT_WEB_WEB_TEMPLATE.$temp.'" type="text/javascript"></script>'."\n";
    ?>
</head>
<body>
<div id="container">
